input-box {
  &__field {
      margin: 0;
      font-family: inherit;
      font-size: inherit;
      line-height: inherit;
      padding: 5px;
      //margin: 5px;
      width: 97%;
      box-sizing: unset;
      border-radius: 5px !important;
      border: 1px solid #ced4da;
      margin-bottom: 5px !important;
      height: 25px;
      &:focus {
          background: themed('input_focus');
          border: 1px solid #007fa3;
          outline: 0;
        }
        &--error {
          border: 1px solid #db0020 !important;
        }
      }
}